{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

    <h1 class="m-4 text-center">Личный кабинет</h1>

    {% if is_granted('ROLE_LANDLORD') %}
        <a href="{{ path('profile_create_booking') }}" class="btn btn-primary">Зарегестрировать объект</a>
    {% endif %}
    <hr>
    <p>Привязать аккаунт к соц. сети: </p>
    <script src="//ulogin.ru/js/ulogin.js"></script>
    <div id="uLogin"
         data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fuser%2Fconnect-social;mobilebuttons=0;optional=email"></div>

{% endblock %}

