{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

    <h1 class="m-4 text-center">Информация о коттедже</h1>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
            {{ form_row(form.kitchen) }}
            {{ form_row(form.shower) }}
            {{ form_row(form.submit, {'attr' : {'class' : 'btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}

