{% extends 'layout.html.twig' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

    <h1 class="m-4 text-center">Регистрация объекта</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {{ form_start(form, {'attr' : {'novalidate' : 'novalidate'}}) }}
            {{ form_row(form.booking_type) }}
            {{ form_row(form.title, {'attr' : {'placeholder' : 'Название'}}) }}
            {{ form_row(form.roomsNumber, {'attr' : {'placeholder' : 'Количество комнат'}}) }}
            {{ form_row(form.manager, {'attr' : {'placeholder' : 'Контактное лицо'}}) }}
            {{ form_row(form.phone, {'attr' : {'placeholder' : 'Тел.: +996 (___) __-__-__'}}) }}
            {{ form_row(form.address, {'attr' : {'placeholder' : 'Адрес'}}) }}
            <p class="header">
                Кликните по карте, чтобы указать адрес
                (<span id="address-info" style="color: red;">не указан</span>)
            </p>
            <div id="map" style="height: 400px; margin-bottom: 10px; border: 1px solid #d6d6d6;"></div>
            {{ form_row(form.price, {'attr' : {'placeholder' : 'Цена за комнату'}}) }}
            {{ form_row(form.submit, {'attr' : {'class' : 'btn-primary'}}) }}
            {{ form_end(form) }}
        </div>
        <div class="col-md-3"></div>
    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script src="{{ asset('js/maskinput.js') }}"></script>
    <script>
        $(function(){
            $("#booking_phone").mask("+996 (xxx) xx-xx-xx");
        });
    </script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script>
        ymaps.ready(init);

        function init() {
            var myPlacemark,
                myMap = new ymaps.Map('map', {
                    center: [42.487800, 77.155308],
                    zoom: 8
                }, {
                    searchControlProvider: 'yandex#search'
                });

            // Слушаем клик на карте.
            myMap.events.add('click', function (e) {
                var coords = e.get('coords');

                // Если метка уже создана – просто передвигаем ее.
                if (myPlacemark) {
                    myPlacemark.geometry.setCoordinates(coords);
                }
                // Если нет – создаем.
                else {
                    myPlacemark = createPlacemark(coords);
                    myMap.geoObjects.add(myPlacemark);
                    // Слушаем событие окончания перетаскивания на метке.
                    myPlacemark.events.add('dragend', function () {
                        getAddress(myPlacemark.geometry.getCoordinates());
                    });
                }
                getAddress(coords);
            });

            // Создание метки.
            function createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'поиск...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: true
                });
            }

            // Определяем адрес по координатам (обратное геокодирование).
            function getAddress(coords) {
                myPlacemark.properties.set('iconCaption', 'поиск...');
                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);

                    myPlacemark.properties
                        .set({
                            // Формируем строку с данными об объекте.
                            iconCaption: [
                                // Название населенного пункта или вышестоящее административно-территориальное образование.
                                firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                // Получаем путь до топонима, если метод вернул null, запрашиваем наименование здания.
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            // В качестве контента балуна задаем строку с адресом объекта.
                            balloonContent: firstGeoObject.getAddressLine()
                        });

                    $('#booking_address').val(myPlacemark.properties._data.iconCaption);
                    $('#address-info').css('color', 'green').text('указан');
                });
            }
        }
    </script>
{% endblock %}

