{% extends 'layout.html.twig' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

    <h1 class="text-center m-4">Главная страница</h1>

    {{ form_start(form, {'attr' : {'novalidate' : 'novalidate', 'class' : 'form-inline'}}) }}
    {{ form_row(form.title, {'attr' : {'placeholder' : 'Название', 'class' : 'mb-2 ml-2'}}) }}
    {{ form_row(form.minPrice, {'attr' : {'placeholder' : 'цена от', 'class' : 'mb-2 ml-2'}}) }}
    {{ form_row(form.maxPrice, {'attr' : {'placeholder' : 'цена до', 'class' : 'mb-2 ml-2'}}) }}
    {{ form_row(form.booking_type, {'attr' : {'class' : 'mb-2 ml-2'}}) }}
    {{ form_row(form.pension_choices, {'attr' : {'class' : 'mb-2 ml-2 d-none'}}) }}
    {{ form_row(form.cottage_choices, {'attr' : {'class' : 'mb-2 ml-2 d-none'}}) }}
    {{ form_row(form.submit, {'attr' : {'class' : 'btn-info mb-2 ml-2'}}) }}
    {{ form_end(form) }}

    {% if nothing_found %}
        <p>Ничего не найдено</p>
    {% else %}

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Кол-во комнат</th>
                <th scope="col">Контактное лицо</th>
                <th scope="col">Телефон</th>
                <th scope="col">Адрес</th>
                <th scope="col">Цена за комнату</th>
                <th scope="col">Тип</th>
                <th scope="col">Особенности</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for object in booking_objects %}
                <tr>
                    <th scope="row">{{ object.id }}</th>
                    <td scope="col">{{ object.title }}</td>
                    <td scope="col">{{ object.roomsNumber }}</td>
                    <td scope="col">{{ object.manager }}</td>
                    <td scope="col">{{ object.phone }}</td>
                    <td scope="col">{{ object.address }}</td>
                    <td scope="col">{{ object.price }} сом.</td>
                    <td scope="col">{{ object.type }}</td>
                    <td scope="col">
                        {% if object.pool is defined and object.pool %}
                            <span class="badge badge-primary">Бассейн</span>
                        {% endif %}
                        {% if object.cinema is defined and object.cinema %}
                            <span class="badge badge-primary">Кинотеатр</span>
                        {% endif %}
                        {% if object.kitchen is defined and object.kitchen %}
                            <span class="badge badge-primary">Кухня</span>
                        {% endif %}
                        {% if object.shower is defined and object.shower %}
                            <span class="badge badge-primary">Душ</span>
                        {% endif %}
                    </td>
                    <td scope="col">
                        <a href="{{ path('app_show', {title : object.title}) }}"
                           class="btn btn-sm btn-danger">Смотреть</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

            let checkForm = function () {

                let option = $("#booking_filter_booking_type").find(":selected").text();
                let pension = $("#booking_filter_pension_choices");
                let cottage = $("#booking_filter_cottage_choices");

                switch (option) {

                    case "Пансионат":
                        cottage.removeClass("d-block");
                        cottage.addClass("d-none");

                        pension.removeClass("d-none");
                        pension.addClass("d-block");
                        break;
                    case "Коттедж":
                        pension.removeClass("d-block");
                        pension.addClass("d-none");

                        cottage.removeClass("d-none");
                        cottage.addClass("d-block");
                        break;
                    default:
                        pension.removeClass("d-block");
                        cottage.removeClass("d-block");
                        pension.addClass("d-none");
                        cottage.addClass("d-none");
                }
            };


            checkForm();

            $("#booking_filter_booking_type").change(function () {
                checkForm();
            });

        });
    </script>
{% endblock %}
