{% extends 'layout.html.twig' %}

{% block title %}Бронирование{% endblock %}

{% block content %}

    <h1 class="text-center m-4">{{ booking.type }}: {{ booking.title }}</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul class="list-group">
        {% for room in booking.rooms %}
            <li class="list-group-item">
                <strong>Комната #{{ room.roomNumber }}: </strong>

                {% if room.isBooked %}
                    забронировано до {{ room.rentDate|date('d-m-Y') }}
                {% else %}
                        <a href="{{ path('app_book', {title : booking.title, room : room.roomNumber, date : room.shortBook|date('d-m-Y')}) }}"
                           class="btn btn-primary">бронировать до {{ room.shortBook|date('d-m-Y') }}</a>
                        <a href="{{ path('app_book', {title : booking.title, room : room.roomNumber, date : room.longBook|date('d-m-Y')}) }}"
                           class="btn btn-primary">бронировать до {{ room.longBook|date('d-m-Y') }}</a>
                {% endif %}


            </li>

        {% endfor %}
    </ul>



{% endblock %}

