{% extends 'base.html.twig' %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_index') }}">Главная</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    {#<li class="nav-item active">#}
                        {#<a class="nav-link" href="#">Home</a>#}
                    {#</li>#}
                </ul>
                {% if is_granted('ROLE_USER') %}
                    <a href="{{ path('profile_index') }}" class="btn btn-warning">Личный кабинет</a>
                    <a href="{{ path('logout') }}" class="btn btn-primary ml-2">Выйти</a>
                {% else %}
                    <a href="{{ path('user_register') }}" class="btn btn-success">Регистрация</a>
                    <a href="{{ path('user_login') }}" class="btn btn-primary ml-2">Войти</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

{% endblock %}