{% extends 'base.html.twig' %}

{% block title %}Войти{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center m-4">Вход на сайт</h1>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}

                {{ form_start(form, {'attr' : {'novalidate' : 'movalidate'}}) }}
                {{ form_row(form.email, {'attr' : {'placeholder' : 'Email'}}) }}
                {{ form_row(form.plainPassword, {'attr' : {'placeholder' : 'Пароль'}}) }}
                <div class="text-center">
                    {{ form_row(form.submit, {'attr' : {'class' : 'btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
                <p class="text-center"><a href="{{ path('user_register') }}">Регистрация</a></p>
                <div class="text-center">
                    <script src="//ulogin.ru/js/ulogin.js"></script>
                    <div id="uLogin"
                         data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fuser%2Flogin-social;mobilebuttons=0;optional=email"></div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}

