{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center m-4">Регистрация</h1>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {{ form_start(form, {'attr' : {'novalidate' : 'movalidate'}}) }}
                {{ form_row(form.email, {'attr' : {'placeholder' : 'Email'}}) }}
                {{ form_row(form.passport, {'attr' : {'placeholder' : 'Паспортные данные'}}) }}
                {{ form_row(form.plainPassword.first, {'attr' : {'placeholder' : 'Пароль'}}) }}
                {{ form_row(form.plainPassword.second, {'attr' : {'placeholder' : 'Повторите пароль'}}) }}
                {{ form_row(form.roles) }}
                <div class="text-center">
                    {{ form_row(form.submit, {'attr' : {'class' : 'btn-primary'}}) }}
                </div>
                {{ form_end(form) }}
                <p class="text-center"><a href="{{ path('user_login') }}">Войти</a></p>
                <div class="text-center">
                    <script src="//ulogin.ru/js/ulogin.js"></script>
                    <div id="uLogin"
                         data-ulogin="display=panel;theme=classic;fields=first_name,last_name;providers=vkontakte,google,facebook;hidden=;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fuser%2Fregister-social-start;mobilebuttons=0;optional=email"></div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

{% endblock %}
