{% extends 'base.html.twig' %}

{% block title %}Успешная регистрация{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center m-4">Вы успешно зарегестрировались!</h1>
        <p class="text-center"><a href="{{ path('user_login') }}" class="btn btn-primary">Войти</a></p>
    </div>

{% endblock %}
